@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import "font-awesome";

.abstract {
  font-family: "Open Sans", sans-serif;
  min-height: 100%;

  small, .small {
    font-size: 70%;
    line-height: 2.067;
  }

  .flash-messages {
    color: white;
    margin-top: 16px;
    font-size: 14px;
    text-align: center;
  }

  .flash-alert{
    background: #e74c3c;
  }

  .flash-notice{
    background: #f1c40f;
  }

  .flash-success{
    background: #2ecc71;
  }

  .nag {
    margin-top:-22px;
  }

  .post-bar {
    padding: 5px;
    border-bottom: 1px solid #e74c3c;
  }

  .post-title {
    text-decoration: underline;
  }

  .post-new {
    margin-top: 12px;
  }

  .post-actions {
    display: inline-block;
    font-size: 16px;
    padding: 6px;

    text-transform: uppercase;

    div {
      float: right;
    }

    span {
      margin-left: 12px;
    }
  }

  .post-content {
    padding:15px;
    border-radius: 6px;
  }

  .post-entry {
    margin-top: 24px;
    margin-bottom: 66px;
  }

  .all-posts {
    padding:5px;
  }

  .lead {
    font-size:16px;
  }

  h1, .h1 {
    font-size: 40px;
  }

  h2, .h2 {
    font-size: 30px;
  }

  h3, .h3 {
    font-size: 26px;
  }

  h4, .h4 {
    font-size: 22px;
  }

  h5, .h5 {
    font-size: 18px;
  }

  h6, .h6 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    line-height: 1.72222;
    margin: 0 0 15px;
  }

  .navbar-inverse {
    background: none repeat scroll 0 0 #2f4154;
  }

  .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: white;
    color: black;
    text-decoration: underline;
  }

  .features {
    h5 {
      text-align: right;
      padding-bottom:14px;
      border-bottom: 1px solid #e74c3c;
    }
  }

  section {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  .ruby-icon {
    ul li {
      background-image: url("ruby.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      padding-left: 30px;
      font-size:14px;
      line-height: 1.72222;
    }
  }

  .coffee-icon {
    ul li {
      background-image: url("coffee.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      padding-left: 30px;
      padding-top: 5px;
      font-size:14px;
    }
  }

  .ruby-icon {
    ul li {
      background-image: url("ruby.png");
    }
  }

  .coffee-icon {
    ul li {
      background-image: url("coffee.png");
    }
  }

  .dna-icon {
    ul li {
      background-image: url("dna.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      padding-left: 40px;
      font-size:16px;
      line-height: 2.2;
    }

  }

  .ruby-layer {
    text-align: center;
    background-color:#c0392b;
    color:white;
    padding-bottom:20px;
    padding-bottom:20px;
  }

  .slide {
    border-right: 1px dotted #2c3e50;
  }

  #about-me {
    padding-top: 3%;
  }

  .img-cut {
    min-height:180px;
  }

  #scau {
    padding-top:10%;
  }

  #nzx {
    padding-top:10%;
  }

  .text-muted {
    color: #bdc3c7;
  }

  h1, h2, h3 {
    margin-bottom: 32px;
    margin-top: 30px;
  }

  .devise-bar {
    padding: 5px;
    display: block;
    clear: both;
  }

  .dropdown-menu {
    font-size: 12px;

    .linkedin-icon {
      background-image: url("in.png");
      background-position: 0 0;
      background-size: 24px 24px;
      background-repeat: no-repeat;
      padding-left: 32px;
    }

    .gmail-icon {
      background-image: url("gmail.png");
      background-position: 0 0;
      background-size: 24px 24px;
      background-repeat: no-repeat;
      padding-left: 32px;
    }
  }
}
