label {
  font-size: 14px;
  font-weight: normal;
  display: block;
  line-height: 1.7;
}

input {
  display: block;
  font-size: 12px;
  width: 50%;
  line-height: 1.7;
}

input[type=submit] {
  margin-top: 10px;
  max-width: 100px;
}

input[type=checkbox] {
  display: inline-block;
  max-width: 100px;
}

.field_with_errors {
    label {
      color: #c0392b;
    }
}

#error_explanation {
  font-size:14px;
}

textarea {
  font-size: 12px;
  line-height: 24px;
  padding: 5px 11px;
  min-width:50%;
  min-height:155px;
}
